In [1]:
from ydata_profiling import ProfileReport
import dtale
import pandas as pd

In [2]:
df = pd.read_csv(r"data/subscriptions.csv")
eda_df = df.copy()

In [4]:
info_cols = ['id', 'Status']
dates_cols = ['Created (UTC)', 'Start (UTC)', 'Start Date (UTC)',
       'Current Period Start (UTC)', 'Current Period End (UTC)',
       'Trial Start (UTC)', 'Trial End (UTC)', 'Canceled At (UTC)',
       'Cancel At Period End', 'Ended At (UTC)']

eda_df = eda_df[info_cols + dates_cols]

In [6]:
# Convert relevant date columns to datetime
for col in dates_cols:
    eda_df[col] = pd.to_datetime(eda_df[col], errors='coerce')

In [9]:
d = dtale.show(eda_df)
d.open_browser()

C:\Users\USER\anaconda3\Lib\site-packages\dtale\column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

C:\Users\USER\anaconda3\Lib\site-packages\dtale\column_analysis.py:402: FutureWarning:

pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.

In [41]:
ss = eda_df[~eda_df['Canceled At (UTC)'].isna()]
mask  = (ss['Canceled At (UTC)'] == ss['Ended At (UTC)'])

In [46]:
ss['Status'].value_counts()

Status
canceled              196
incomplete_expired      6
Name: count, dtype: int64

In [33]:
eda_df[[ 'Canceled At (UTC)', 'Cancel At Period End', 'Ended At (UTC)']]#.to_csv("Created_VS_Start.csv", index = 0)

      Canceled At (UTC) Cancel At Period End      Ended At (UTC)
0                   NaT                  NaT                 NaT
1   2025-07-14 00:55:00                  NaT 2025-07-14 00:55:00
2                   NaT                  NaT                 NaT
3                   NaT                  NaT                 NaT
4                   NaT                  NaT                 NaT
..                  ...                  ...                 ...
278 2023-11-24 20:23:00                  NaT 2023-11-24 20:23:00
279 2024-07-05 17:38:00                  NaT 2024-07-05 17:38:00
280 2024-01-23 18:26:00                  NaT 2024-01-23 18:26:00
281 2025-05-12 10:58:00                  NaT 2025-05-12 10:58:00
282 2024-10-07 13:46:00                  NaT 2024-10-07 13:46:00

[283 rows x 3 columns]

In [27]:
(eda_df['Start (UTC)'] == eda_df['Start Date (UTC)']).value_counts()

True     187
False     96
Name: count, dtype: int64

In [25]:
eda_df[['Created (UTC)', 'Start (UTC)', 'Start Date (UTC)', 'Current Period Start (UTC)']]

,Created (UTC),Start (UTC),Start Date (UTC),Current Period Start (UTC)
0,2025-07-13 17:22:00,2025-07-13 17:22:00,2025-07-13 17:22:00,2025-07-13 17:22:00
1,2025-07-13 17:15:00,2025-07-13 17:15:00,2025-07-13 17:15:00,2025-07-13 17:15:00
2,2025-07-09 23:00:00,2025-07-09 23:00:00,2025-07-09 23:00:00,2025-07-09 23:00:00
3,2025-07-06 23:00:00,2025-07-06 23:00:00,2025-07-06 23:00:00,2025-07-06 23:00:00
4,2025-07-06 16:40:00,2025-07-06 16:40:00,2025-07-06 16:40:00,2025-07-06 16:40:00
...,...,...,...,...
278,2023-10-03 19:12:00,2023-10-03 19:12:00,2023-10-03 19:12:00,2023-11-03 19:12:00
279,2023-10-03 09:39:00,2023-10-03 09:39:00,2023-10-03 09:39:00,2024-07-03 09:39:00
280,2023-10-02 17:23:00,2023-10-02 17:23:00,2023-10-02 17:23:00,2024-01-02 17:23:00
281,2023-10-01 19:14:00,2025-03-01 12:35:00,2023-10-01 19:14:00,2025-05-01 12:35:00
282,2023-09-30 18:32:00,2023-09-30 18:32:00,2023-09-30 18:32:00,2024-09-30 18:32:00

In [8]:
profile = ProfileReport(df, title="Dataset Descriptive Report")
profile.to_file("SCS.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|                                                                                           | 0/17 [00:00<?, ?it/s]
  6%|████▉                                                                              | 1/17 [00:00<00:03,  4.13it/s]
 12%|█████████▊                                                                         | 2/17 [00:00<00:02,  5.37it/s]
 18%|██████████████▋                                                                    | 3/17 [00:00<00:02,  6.25it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 17/17 [00:00<00:00, 23.65it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]