In [1]:
import pandas as pd
import seaborn as sns
import plotly
import matplotlib.pyplot as plt
import datetime

In [2]:
df = pd.read_csv("../data/subscriptions.csv")
pay_df = pd.read_csv("../data/payments.csv")

email = 'Customer Email'
name = 'Customer Name'
pay_df['cust_id'] = pay_df['Name'] + '-' + pay_df['Email']
df['cust_id'] = df[name] + '-' + df[email]

In [3]:
sos = pay_df[['cust_id', 'Total Spend']].to_dict(orient = 'tight', index=False)
meow = {i[0]: i[1] for i in sos['data']}
df['spent'] = df['cust_id'].map(meow)
df = df[df['spent'] >= 60]

In [4]:
sos.get('tali07@gmail.com-tali sayar')

In [41]:
df['cancel_month'].value_counts()

cancel_month
2025-04    18
2024-10    14
2024-06    11
2025-02    10
2025-03     9
2025-06     9
2024-12     8
2025-01     8
2024-11     7
2025-05     6
2024-08     5
2025-07     5
2024-07     4
2024-05     4
2024-09     3
2024-01     2
2024-03     1
2023-12     1
2023-11     1
Freq: M, Name: count, dtype: int64

In [42]:
def is_active(row, month):
    started_before = row['Start Date (UTC)'] <= month.start_time
    ended_after = row['Canceled At (UTC)'] >= month.start_time or \
                  pd.isnull(row['Canceled At (UTC)'])
    
    return started_before and ended_after

In [43]:
# Convert relevant date columns to datetime
df['Start Date (UTC)'] = pd.to_datetime(df['Start Date (UTC)'])
df['Canceled At (UTC)'] = pd.to_datetime(df['Canceled At (UTC)'])

# Extract the month and year
df['start_month'] = df['Start Date (UTC)'].dt.to_period('M')
df['cancel_month'] = df['Canceled At (UTC)'].dt.to_period('M')

In [44]:
df[
    (df['cancel_month'].dt.year == 2024) &
    (df['cancel_month'].dt.month == 6) 
][[name, email, 'Amount']]

          Customer Name                 Customer Email  Amount
203        Karim Kawash             kkawashk@gmail.com   150.0
213    Rajesh Ravindran    rajeshravindran05@gmail.com    80.0
214              J Chen  christinachen0130@hotmail.com    80.0
224  Alina Leon Kozenko         alileoko97@hotmail.com   150.0
241         Avinoam Gal              mertiti@gmail.com   129.0
246    Mrs Prita V Nair          nairprita21@gmail.com    60.0
253           S Markuta         ostaf05sveta@yahoo.com    99.0
264         Ankur Zadoo            ankurzadu@gmail.com    99.0
265         Ankur Zadoo            ankurzadu@gmail.com    99.0
268            Ying Liu              l9664@hotmail.com    60.0
274     Olayinka  Bello            yinkbells@gmail.com    99.0

In [45]:
analysis_range = {
    "start": df['start_month'].min(),
    "end": df['start_month'].max()
}
# analysis_range
all_months = pd.period_range(analysis_range["start"], analysis_range["end"])
#all_months

In [46]:
started_custs = {}
canceled_custs = {}

for month in all_months:
    started_custs = {}[month] = df[df['start_month'] == i][[email, name]]
    canceled_custs[month] = df[df['cancel_month'] == i][[email, name]]

In [47]:
custs

{Period('2023-09', 'M'):                     Customer Email       Customer Name
 282  jayapriyathanaraj@hotmail.com  Jayapriya Thanaraj,
 Period('2023-10', 'M'):                    Customer Email         Customer Name
 269      gerald.preteau@gmail.com        Gerald Preteau
 270            captsood@gmail.com          Shivani sood
 271      rajnaran_amb@hotmail.com      Rajesh Narayanan
 272  michelle.chung.cwy@gmail.com         Wai Yan Chung
 274           yinkbells@gmail.com       Olayinka  Bello
 277        leelavathim@icloud.com    Leela Mellacheruvu
 278           ankurzadu@gmail.com           Ankur Zadoo
 279     bleineandrade07@gmail.com  Bleine E D S Andrade
 280          spiffymiss@gmail.com   Sarah-Jane  Gamble
 281        tutor4ruchit@gmail.com    Venkatesh Ramasamy,
 Period('2023-11', 'M'):                     Customer Email      Customer Name
 257        mstwilson41@outlook.com        Jane Wilson
 258       gerald.preteau@gmail.com     Gerald Preteau
 259          nadjete2003@gmail.com         N HOUAIDJI
 261  briansamuelwalker@yahoo.co.uk      MR B S WALKER
 262         oana.cicalau@yahoo.com       Oana Cicalau
 263            ankurzadu@gmail.com        Ankur Zadoo
 264            ankurzadu@gmail.com        Ankur Zadoo
 265            ankurzadu@gmail.com        Ankur Zadoo
 266        rohini_rose@hotmail.com  Rohini mohanathas
 267         titilopebabs@gmail.com    Titi Babafunso
 268              l9664@hotmail.com           Ying Liu,
 Period('2023-12', 'M'):                     Customer Email    Customer Name
 253         ostaf05sveta@yahoo.com        S Markuta
 254           mekarenmok@yahoo.com    Karen guthrie
 255  luke.a.matthews@hotmail.co.uk    Luke Matthews
 256          albaverde14@gmail.com  Albena Vasileva,
 Period('2024-01', 'M'):            Customer Email      Customer Name
 251  spiffymiss@gmail.com  Sarah-Jane Gamble
 252  guptneelam@gmail.com          N B GUPTA,
 Period('2024-02', 'M'):                Customer Email           Customer Name
 242  sheetaljobs594@gmail.com         Sheetal Sheetal
 244             nive84@me.com  Nivedita ambigananthan
 245    divyarathore@gmail.com    MR DIVYA K S RATHORE
 246     nairprita21@gmail.com        Mrs Prita V Nair
 250        lavagaje@yahoo.com       Lavanya Gajendran,
 Period('2024-03', 'M'):               Customer Email      Customer Name
 233  deexita.patel@gmail.com      Deexita Patel
 237     mekarenmok@yahoo.com      Karen Guthrie
 238        anya@rowanmail.me         Anna Rowan
 239   skravin@rediffmail.com  Sathish Ravindran
 240       heller23@gmail.com         Tal Heller
 241        mertiti@gmail.com        Avinoam Gal,
 Period('2024-04', 'M'):                   Customer Email       Customer Name
 223       krenitskaya@live.co.uk   Elena Krenitskaya
 224       alileoko97@hotmail.com  Alina Leon Kozenko
 226      katerina.32@hotmail.com  Katerina Ioannidou
 227        mark_fern98@yahoo.com  MR M A F FERNANDES
 230  christana.obademi@gmail.com           C obademi
 232          joeyailin@gmail.com  Joey Wong Castillo,
 Period('2024-05', 'M'):                     Customer Email      Customer Name
 207       gerald.preteau@gmail.com     Gerald PRETEAU
 208         mttownsend99@gmail.com    Mr M T Townsend
 209       alistaircckung@gmail.com      Alistair Kung
 211          lenarosso17@gmail.com     Elena Cebotari
 213    rajeshravindran05@gmail.com   Rajesh Ravindran
 214  christinachen0130@hotmail.com             J Chen
 215              powya_k@yahoo.com    Powya Sujanthan
 216               ruuby6@gmail.com  l velauthampillai
 217          albaverde14@gmail.com    Albena Vasileva
 219          duplersarit@gmail.com  Mrs sarith dupler
 220       jyotipatel2017@yahoo.com        JYOTI PATEL,
 Period('2024-06', 'M'):                   Customer Email      Customer Name
 194          sjrshah@yahoo.co.uk            S J RAI
 195        amitbergman@gmail.com      Amit Bergman
 196        snehpabla@hotmail.com     Snehdeep Pabla
 198  rajeshravindran05@gmail.com   Rajesh Ravindran
 200         gawad93.mh@gmail.com     Mostafa Hassan
 201         ndavronoff@gmail.com              Nodir
 202   peravali.padma01@gmail.com     Mrs P Peravali
 203           kkawashk@gmail.com       Karim Kawash
 204         spiffymiss@gmail.com  Sarah-Jane Gamble
 205        tintomepeng@gmail.com       Tinto Thomas,
 Period('2024-07', 'M'):                 Customer Email   Customer Name
 189    nicola@drnicolafarr.com    Matthew Farr
 190  afolabiadeola58@gmail.com  Adeola Afolabi
 191       sawaya_a@hotmail.com  Antonio Sawaya
 193          aaman84@gmail.com       A S Akbar,
 Period('2024-08', 'M'):                     Customer Email        Customer Name
 175               acighi@yahoo.com       Adrian C Cighi
 178           movbiebo@hotmail.com      Ovbiebo Miebaka
 179           Michtanzer@gmail.com        Michal Tanzer
 181        misssavitha89@gmail.com  Savitha Gunasekaran
 185         mcbride.alan@gmail.com      MR ALAN McBRIDE
 186  luke.a.matthews@hotmail.co.uk        Luke Matthews,
 Period('2024-09', 'M'):                      Customer Email         Customer Name
 155         deexita.patel@gmail.com         Deexita Patel
 157        h_zarrinrad@yahoo.com.au                  Home
 158        jasnabasheer92@gmail.com         Jasna Basheer
 159          b.armendariz@ucl.ac.uk    Beatriz Armendariz
 160  leyla_tabasaranskaya@yahoo.com  Leyla Tabasaranskaya
 164    taylorpearman@googlemail.com        Taylor Pearman
 165          guinness.tom@gmail.com          Tom Guinness
 166       marcela.bletzer@gmail.com   Mrs Marcela Bletzer
 169          alexispittas@yahoo.com    Mr Alexis K Pittas
 170          guinness.tom@gmail.com          Tom Guinness
 171        lucandioan@hotmail.co.uk            Luc Zimmer
 174             yemnirmal@gmail.com        Nirmal Murugan,
 Period('2024-10', 'M'):                     Customer Email        Customer Name
 129  vikrantrawat15@googlemail.com        Vikrant Rawat
 130      hilarygolding@yahoo.co.uk       Hilary Golding
 131        sara.waller@outlook.com          Sara waller
 132       lika.jikia.t@hotmail.com       Lika  Dzhikiya
 133             tinateotia@nhs.net      Tina Teotia Das
 134          dunnioiyari@gmail.com  Dunni Omebere-Iyari
 136     kshirjarohannaik@gmail.com   Kshirja Rohan Naik
 137          michalz2610@gmail.com       Michal  Zehavi
 138             sapnalad@gmail.com       MRS S S MISTRY
 143             plcl.goh@gmail.com                C GOH
 144               qdlmjs@gmail.com            YAN JIANG
 145             ltirisha@gmail.com         Irina Dudina
 146     peravali.padma01@gmail.com       Mrs P Peravali
 147              alex@alexob.co.uk          A I O'Brien
 148          siyad.hamsa@gmail.com                Siyad
 149     craig.parks@informedit.com          Craig Parks
 150        mary.fomina98@gmail.com         Maria Fomina
 151            ravshar29@gmail.com          Ravi Sharma
 152        linda.kutty@yahho.co.uk                Linda
 153             craig@2deviate.com       Craig Petersen
 154     liona.youyou1384@gmail.com    Liuna Yousefi Far,
 Period('2024-11', 'M'):                 Customer Email    Customer Name
 119          anya@rowanmail.me       Anna Rowan
 120      mande.aditi@gmail.com         A Shukla
 121  dr.saumyasharma@gmail.com      Dr S Sharma
 122         biplab_4@yahoo.com  Biplab Sengupta
 123         camh1883@gmail.com  Cameron Hawkins
 125      yingshijinb@gmail.com       Yingshi Ji,
 Period('2024-12', 'M'):                  Customer Email            Customer Name
 38    marcela.bletzer@gmail.com      Mrs Marcela Bletzer
 98         sirisha9@hotmail.com          Sirisha Karkera
 99         robaddo001@gmail.com         Robert Osae-Addo
 100            davidesgt@me.com                  D Segat
 102       mandi1443@hotmail.com          Alykhan BANDALI
 103         rojivinth@gmail.com        Rojini Aravinthan
 104   loredanamirea05@yahoo.com        Gabriel Amariutei
 105       rajdeep.2.m@gmail.com        Rajdeep Mukherjee
 106         svithya04@yahoo.com  Srivithya  Kannathasan
 107       quantmedics@gmail.com     Sachidanand Hiremath
 108          krush267@yahoo.com     Kirusalini Sekarran
 109       dunnioiyari@gmail.com      Dunni Omebere-Iyari
 110         z_shediao@yahoo.com                Xueni Zhu
 111  prabhveermundra7@gmail.com         Prabhveer mundra
 112          tannazrj@gmail.com       Tannaz Joorabchian
 113  adapagacova1992@icloud.com         ADRIANA PAGACOVA
 114       vgoddevrind@gmail.com   Mrs Vanessa Goddevrind
 115    shineadwilson@icloud.com           Shinead Wilson
 116            liam@ohuiginn.ca            Liam OhUiginn
 117  friso.de.vries@hotmail.com                     F.s.
 118      wingkwong820@gmail.com           Wing Han Kwong,
 Period('2025-01', 'M'):                         Customer Email           Customer Name
 39                hgajeens@hotmail.com             Hilary Beck
 70                moshed88@hotmail.com            Moshe Dabach
 71             jmayankjain97@gmail.com             Mayank Jain
 73                 Azlinayeo@gmail.com              Azlina Yeo
 74              mamekyerewaa@gmail.com          Roselind Owusu
 75              dendislukas0@gmail.com            Lukas Dendis
 76              devlineoin98@gmail.com             Eoin Devlin
 81      guillaume.emf.lannes@gmail.com                  Lannes
 82            qudsiachandran@gmail.com           DR Q CHANDRAN
 84  davidandrewcostello@protonmail.com         MR D A COSTELLO
 85       jayapriyathanaraj@hotmail.com      Jayapriya Thanaraj
 86              maxmorris029@gmail.com              Max Morris
 87                 deviponnu@gmail.com  Devi Namakkal sengodan
 88               jaisandhu26@gmail.com              Jai Sandhu
 89                 aminehjrm@gmail.com      Amine Haj Romdhane
 90             ryan.thorne@outlook.com             Ryan Thorne
 91                tejus.asha@gmail.con             Mrs A Patel
 92         marioz@bmlondontextiles.com            Murat  Arioz
 93                hgajeens@hotmail.com             Hilary Beck
 94              frans.dewet1@gmail.com               FJ DE-WET
 95                   lkotey1@gmail.com              Lola Kotey
 96                  vkd_70@hotmail.com               V K DALAL
 97              remyp.savage@gmail.com             Remy Savage,
 Period('2025-02', 'M'):               Customer Email    Customer Name
 58     seanmaccann@gmail.com    SEAN MAC CANN
 59        aazein01@gmail.com       Abbas Zein
 61     seanmaccann@gmail.com    SEAN MAC CANN
 62        tinateotia@nhs.net  Tina Teotia Das
 63  laura_buxton@hotmail.com     Laura Buxton
 64  tangtangtt@hotmail.co.uk           T Tang
 66      tamichuang@gmail.com      Tami Chuang,
 Period('2025-03', 'M'):                  Customer Email            Customer Name
 40       b.armendariz@ucl.ac.uk       Beatriz Armendariz
 45       jeojeo0328@hotmail.com             Mrs shi zhou
 46       olafiutowska@gmail.com    Aleksandra  Fiutowska
 47       armsofgandhi@gmail.com          Emily Diamandis
 48           SowmyaRJ@gmail.com                  R JATTI
 49       oana.cicalau@yahoo.com             Oana Cicalau
 50            manlopo@gmail.com  Manuel Lopo de Carvalho
 51          ofetiveau@gmail.com          Oliver Fetiveau
 52              zac@ciner.co.uk     Ms L Womersley Smith
 53    marcela.bletzer@gmail.com      Mrs Marcela Bletzer
 57  abbasi_adil2004@hotmaik.com               M a waheed,
 Period('2025-04', 'M'):             Customer Email         Customer Name
 27        w.wang@yahoo.com              Wei Wang
 28   kittushwa55@gmail.com          kritika vats
 30       jdcpolo@gmail.com           John Cooper
 32   kwaldegrave@yahoo.com      Katie Waldegrave
 35      arun1787@gmail.com  Mr A Thillaisundaram
 36  jeojeo0328@hotmail.com          Mrs shi zhou
 41      arun1787@gmail.com  Mr A Thillaisundaram
 42      lukyip27@gmail.com                 y luk
 43  nayo.abidoye@gmail.com           MS  ABIDOYE,
 Period('2025-05', 'M'):                  Customer Email    Customer Name
 21       elise.lyons@icloud.com     Miss E Lyons
 22  kajalsharma198306@gmail.com      Kajal Kiran
 23     mitulunadkat@hotmail.com    Mitul Unadkat
 24       mcbride.alan@gmail.com  MR ALAN McBRIDE
 26             seawan@gmail.com         Jun Wang,
 Period('2025-06', 'M'):               Customer Email            Customer Name
 6   sachin.mehta@reckitt.com             Sachin Mehta
 8      hassaan2312@gmail.com  Muhammad Hassaan Sarwar
 9       anirudhmvr@gmail.com       Anirudh Manchiraju
 10    priya88swami@gmail.com        Priya swaminathan
 11       svithya04@yahoo.com  Srivithya  Kannathasan
 13      anirudhmvr@gmail.com       Anirudh Manchiraju
 14      anirudhmvr@gmail.com       Anirudh Manchiraju
 15        tinateotia@nhs.net          Tina Teotia Das
 17       mrgsuarez@yahoo.com              MR G SUAREZ,
 Period('2025-07', 'M'):              Customer Email Customer Name
 0  azlinayeo@googlemail.com    Azlina Yeo
 2     yingshijinb@gmail.com    Yingshi Ji
 3      moshed88@hotmail.com  Moshe Dabach
 4        lukyip27@gmail.com         y luk
 5          tali07@gmail.com    Tali Sayar}

In [48]:
start_month.value_counts().values

array([23, 21, 21, 12, 11, 11, 11, 10, 10,  9,  9,  7,  6,  6,  6,  6,  5,
        5,  5,  4,  4,  2,  1], dtype=int64)

In [49]:
start_month = df['Start Date (UTC)'].dt.to_period("M")
start_month.value_counts().sort_index().reindex(all_months, fill_value=0)

2023-09     1
2023-10    10
2023-11    11
2023-12     4
2024-01     2
2024-02     5
2024-03     6
2024-04     6
2024-05    11
2024-06    10
2024-07     4
2024-08     6
2024-09    12
2024-10    21
2024-11     6
2024-12    21
2025-01    23
2025-02     7
2025-03    11
2025-04     9
2025-05     5
2025-06     9
2025-07     5
Freq: M, Name: count, dtype: int64

In [50]:
start_hist = df.start_month.value_counts().sort_index()
first = pd.Series(index = [pd.to_datetime('2023-09').to_period('M')], data=[0])
cancel_hist = pd.concat([first, df.cancel_month.value_counts()]).sort_index()

In [51]:
actives = []
for month in start_hist.index:
    active_amount = df.apply(is_active, args=[month], axis=1)
    actives.append(active_amount.sum())

In [52]:
 df.cancel_month.value_counts().shape

(19,)

In [53]:
len(actives)

23

In [54]:
pd.concat([first, df.cancel_month.value_counts()]).sort_index().index

PeriodIndex(['2023-09', '2023-11', '2023-12', '2024-01', '2024-03', '2024-05',
             '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11',
             '2024-12', '2025-01', '2025-02', '2025-03', '2025-04', '2025-05',
             '2025-06', '2025-07'],
            dtype='period[M]')

In [55]:
df

,id,Customer ID,Customer Email,Quantity,Amount,Status,Created (UTC),Start (UTC),Start Date (UTC),Current Period Start (UTC),...,Trial Start (UTC),Trial End (UTC),Canceled At (UTC),Cancel At Period End,Ended At (UTC),Customer Name,cust_id,spent,start_month,cancel_month
0,sub_1RkTbeLLDYopDCcGez5KYmW7,cus_SfpGzDnMyWQpQ3,azlinayeo@googlemail.com,1,220.0,trialing,2025-07-13 17:22,2025-07-13 17:22,2025-07-13 17:22:00,2025-07-13 17:22,...,2025-07-13 17:22,2025-07-20 17:22,NaT,False,NaN,Azlina Yeo,Azlina Yeo-azlinayeo@googlemail.com,220.0,2025-07,NaT
2,sub_1Rj6yXLLDYopDCcGnDxJyBiw,cus_REjdygYqo182VD,yingshijinb@gmail.com,1,160.0,active,2025-07-09 23:00,2025-07-09 23:00,2025-07-09 23:00:00,2025-07-09 23:00,...,NaN,NaN,NaT,False,NaN,Yingshi Ji,Yingshi Ji-yingshijinb@gmail.com,800.0,2025-07,NaT
3,sub_1Ri1XfLLDYopDCcGQQHFawIZ,cus_RgOe9AD4XRTWtl,moshed88@hotmail.com,1,540.0,active,2025-07-06 23:00,2025-07-06 23:00,2025-07-06 23:00:00,2025-07-06 23:00,...,NaN,NaN,NaT,False,NaN,Moshe Dabach,Moshe Dabach-moshed88@hotmail.com,1080.0,2025-07,NaT
4,sub_1RhvcQLLDYopDCcGyqtLP9q8,cus_S3viIBCNseyhwT,lukyip27@gmail.com,1,1080.0,active,2025-07-06 16:40,2025-07-06 16:40,2025-07-06 16:40:00,2025-07-06 16:40,...,NaN,NaN,NaT,False,NaN,y luk,y luk-lukyip27@gmail.com,1300.0,2025-07,NaT
5,sub_1RhCCqLLDYopDCcGUH6igtf7,cus_ScR49P6sz0s5mx,tali07@gmail.com,1,80.0,active,2025-07-04 16:11,2025-07-04 16:11,2025-07-04 16:11:00,2025-07-11 16:11,...,2025-07-04 16:11,2025-07-11 16:11,NaT,False,NaN,Tali Sayar,Tali Sayar-tali07@gmail.com,80.0,2025-07,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,sub_1NxE0rLLDYopDCcGsirHCLQJ,cus_OkjTIsfXDcgXBk,ankurzadu@gmail.com,1,99.0,canceled,2023-10-03 19:12,2023-10-03 19:12,2023-10-03 19:12:00,2023-11-03 19:12,...,NaN,NaN,2023-11-24 20:23:00,False,2023-11-24 20:23,Ankur Zadoo,Ankur Zadoo-ankurzadu@gmail.com,2079.0,2023-10,2023-11
279,sub_1Nx54eLLDYopDCcGJgOrWVjV,cus_OkaFhHmx24D7xs,bleineandrade07@gmail.com,1,99.0,canceled,2023-10-03 09:39,2023-10-03 09:39,2023-10-03 09:39:00,2024-07-03 09:39,...,NaN,NaN,2024-07-05 17:38:00,False,2024-07-05 17:38,Bleine E D S Andrade,Bleine E D S Andrade-bleineandrade07@gmail.com,99.0,2023-10,2024-07
280,sub_1NwppwLLDYopDCcGSDKLGZkw,cus_OkKUK0w9YtMXfZ,spiffymiss@gmail.com,1,99.0,canceled,2023-10-02 17:23,2023-10-02 17:23,2023-10-02 17:23:00,2024-01-02 17:23,...,NaN,NaN,2024-01-23 18:26:00,False,2024-01-23 18:26,Sarah-Jane Gamble,Sarah-Jane Gamble -spiffymiss@gmail.com,297.0,2023-10,2024-01
281,sub_1NwV66LLDYopDCcGgsEyEKOx,cus_Ojz4afv1uwjPFT,tutor4ruchit@gmail.com,1,80.0,canceled,2023-10-01 19:14,2025-03-01 12:35,2023-10-01 19:14:00,2025-05-01 12:35,...,NaN,NaN,2025-05-12 10:58:00,False,2025-05-12 10:58,Venkatesh Ramasamy,Venkatesh Ramasamy-tutor4ruchit@gmail.com,1600.0,2023-10,2025-05
282,sub_1Nw7xgLLDYopDCcG9dVFvwIB,cus_OjbAJjYk0BOOih,jayapriyathanaraj@hotmail.com,1,80.0,canceled,2023-09-30 18:32,2023-09-30 18:32,2023-09-30 18:32:00,2024-09-30 18:32,...,NaN,NaN,2024-10-07 13:46:00,False,2024-10-07 13:46,Jayapriya Thanaraj,Jayapriya Thanaraj-jayapriyathanaraj@hotmail.com,580.0,2023-09,2024-10

In [56]:
counts = pd.DataFrame({"idx": start_hist.index,
                       "start_count": start_hist.values,
                       "cancel_count": cancel_hist.values,
                       "actives":actives})

ValueError: All arrays must be of the same length

In [57]:
 start_hist.index

PeriodIndex(['2023-09', '2023-10', '2023-11', '2023-12', '2024-01', '2024-02',
             '2024-03', '2024-04', '2024-05', '2024-06', '2024-07', '2024-08',
             '2024-09', '2024-10', '2024-11', '2024-12', '2025-01', '2025-02',
             '2025-03', '2025-04', '2025-05', '2025-06', '2025-07'],
            dtype='period[M]', name='start_month')

In [ ]:
counts['churn'] = (counts["cancel_count"] / counts["actives"])

In [ ]:
plt.plot(counts["idx"].astype(str),counts["cancel_count"], marker='o', linestyle='dashed',color = 'r', label="cancel")
plt.plot(counts["idx"].astype(str),counts["start_count"], marker='o', linestyle='dashed',color = 'b', label="started")
plt.plot(counts["idx"].astype(str),counts["actives"], marker='o', linestyle='dashed',color = 'g', label="active")
plt.legend()
# plt.xlabel("treatment_start_year")
# plt.ylabel("waiting_duration_weeks")
# plt.title("treatment_start_year X waiting_duration_weeks")
plt.show()

In [ ]:
counts.describe()

In [61]:
df.sort_values("Start Date (UTC)")["Start Date (UTC)"]

282   2023-09-30 18:32:00
281   2023-10-01 19:14:00
280   2023-10-02 17:23:00
279   2023-10-03 09:39:00
278   2023-10-03 19:12:00
              ...
5     2025-07-04 16:11:00
4     2025-07-06 16:40:00
3     2025-07-06 23:00:00
2     2025-07-09 23:00:00
0     2025-07-13 17:22:00
Name: Start Date (UTC), Length: 205, dtype: datetime64[ns]