In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
df1 = pd.read_csv("../legacy/24-8/subscriptions.csv")
df2 = pd.read_csv("../legacy/24-8/subscriptions_new.csv")
email = 'Customer Email'
name = 'Customer Name'

In [5]:
max_date = datetime.datetime.strptime("31/7/2025", "%d/%m/%Y")

In [7]:
df[df[self.config.get_column('start_date')] <= max_date]

0

In [10]:
(pd.to_datetime(df2["Start Date (UTC)"]) <= max_date).sum()

293

In [3]:
name, email = f"{name}_x", f"{email}_x"
can = "Canceled At (UTC)"
can_x, can_y = f"{can}_x", f"{can}_y"

In [4]:
in_cols = [name, email, can_x, can_y]

In [5]:
common_cols = [i for i in df1 if i in df2]
common_cols.remove('id')
mrg = df1.merge(df2, on='id', how='left')

In [6]:
eq = []
not_eq = []
for col in common_cols:
    tmp  = mrg.dropna(subset=[f"{col}_x", f"{col}_y"], how='all')
    equal = (tmp[f"{col}_x"] == tmp[f"{col}_y"]).all()
    if not equal:
        not_eq.append(col)
    else:
        eq.append(col)

In [7]:
not_eq

['Amount',
 'Status',
 'Start (UTC)',
 'Current Period Start (UTC)',
 'Current Period End (UTC)',
 'Trial End (UTC)',
 'Canceled At (UTC)',
 'Ended At (UTC)']

In [13]:
col = 'Canceled At (UTC)'
tmp  = mrg.dropna(subset=[f"{col}_x", f"{col}_y"], how='all')
tmp[~pd.Series.eq(tmp[f"{col}_x"], tmp[f"{col}_y"])][in_cols + [f"{col}_x", f"{col}_y"]]

,Customer Name_x,Customer Email_x,Canceled At (UTC)_x,Canceled At (UTC)_y,Canceled At (UTC)_x,Canceled At (UTC)_y
0,Azlina Yeo,azlinayeo@googlemail.com,NaN,2025-07-20 13:05,NaN,2025-07-20 13:05
8,Muhammad Hassaan Sarwar,hassaan2312@gmail.com,NaN,2025-07-25 20:45,NaN,2025-07-25 20:45
10,Priya swaminathan,priya88swami@gmail.com,NaN,2025-08-02 19:59,NaN,2025-08-02 19:59
90,Ryan Thorne,ryan.thorne@outlook.com,NaN,2025-08-04 07:24,NaN,2025-08-04 07:24
104,Gabriel Amariutei,loredanamirea05@yahoo.com,NaN,2025-07-19 19:29,NaN,2025-07-19 19:29
114,Mrs Vanessa Goddevrind,vgoddevrind@gmail.com,NaN,2025-07-25 20:49,NaN,2025-07-25 20:49
131,Sara waller,sara.waller@outlook.com,NaN,2025-08-07 20:09,NaN,2025-08-07 20:09
252,N B GUPTA,guptneelam@gmail.com,NaN,2025-08-07 20:11,NaN,2025-08-07 20:11

### notes

#### plan changed

In [9]:
col = 'Amount'
tmp  = mrg.dropna(subset=[f"{col}_x", f"{col}_y"], how='all')
tmp[~pd.Series.eq(tmp[f"{col}_x"], tmp[f"{col}_y"])][[name, email, f"{col}_x", f"{col}_y"]]

   Customer Name_x      Customer Email_x  Amount_x  Amount_y
66     Tami Chuang  tamichuang@gmail.com    1080.0    1920.0

#### new canceled

In [10]:
col = 'Status'
tmp  = mrg.dropna(subset=[f"{col}_x", f"{col}_y"], how='all')
tmp[~pd.Series.eq(tmp[f"{col}_x"], tmp[f"{col}_y"])][in_cols + [f"{col}_x", f"{col}_y"]]

,Customer Name_x,Customer Email_x,Canceled At (UTC)_x,Canceled At (UTC)_y,Status_x,Status_y
0,Azlina Yeo,azlinayeo@googlemail.com,NaN,2025-07-20 13:05,trialing,canceled
8,Muhammad Hassaan Sarwar,hassaan2312@gmail.com,NaN,2025-07-25 20:45,active,canceled
10,Priya swaminathan,priya88swami@gmail.com,NaN,2025-08-02 19:59,active,canceled
90,Ryan Thorne,ryan.thorne@outlook.com,NaN,2025-08-04 07:24,active,canceled
104,Gabriel Amariutei,loredanamirea05@yahoo.com,NaN,2025-07-19 19:29,active,canceled
114,Mrs Vanessa Goddevrind,vgoddevrind@gmail.com,NaN,2025-07-25 20:49,active,canceled
131,Sara waller,sara.waller@outlook.com,NaN,2025-08-07 20:09,active,canceled
252,N B GUPTA,guptneelam@gmail.com,NaN,2025-08-07 20:11,active,canceled

#### start incompatibality

In [12]:
col = 'Start (UTC)'
tmp  = mrg.dropna(subset=[f"{col}_x", f"{col}_y"], how='all')
tmp[~pd.Series.eq(tmp[f"{col}_x"], tmp[f"{col}_y"])][in_cols[:2] + [f"{col}_x", f"{col}_y"]]

,Customer Name_x,Customer Email_x,Start (UTC)_x,Start (UTC)_y
0,Azlina Yeo,azlinayeo@googlemail.com,2025-07-13 17:22,2025-07-20 13:05
66,Tami Chuang,tamichuang@gmail.com,2025-02-09 08:48,2025-08-07 16:07
75,Lukas Dendis,dendislukas0@gmail.com,2025-01-31 17:27,2025-07-31 16:15
153,Craig Petersen,craig@2deviate.com,2025-05-21 18:06,2025-08-07 19:58
191,Antonio Sawaya,sawaya_a@hotmail.com,2024-07-23 08:09,2025-08-04 17:54
207,Gerald PRETEAU,gerald.preteau@gmail.com,2025-05-04 13:53,2025-08-02 23:29